.about{
  @extend .l-wrapper;
  padding:0px;
  margin-top:80px;
}

.about__title{
  font-size:20px;
  font-weight: 600;
  text-align: center;
  padding: 0px 20px;
  margin: 0 0 40px 0;

  @include for-size(tablet-portrait-up){
    font-size:26px;
  };

  @include for-size(desktop-up){
    font-size:34px;
    margin: 0px 0px 100px 0px;
  };

}

.about__list{
  display: -ms-grid;;
  display: grid;

  @include for-size(desktop-up){
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  grid-column-gap: 40px;
  grid-row-gap: 60px;
}

.about__list__item{

  @include for-size(tablet-down){
    display: -ms-grid;;
    display: grid;
    grid-column-gap:10px;
  };

  @include for-size(tablet-portrait-up){
    grid-column-gap:30px;
  }

  .about__list__item__image img{
    width: 60%;
  }

  // Mobile - img links, text+title rechts
  &:nth-child(odd) {
    -ms-grid-columns: 90px 1fr;
    grid-template-columns: 90px 1fr;
    @include for-size(tablet-up){
      -ms-grid-columns: 150px 1fr;
      grid-template-columns: 150px 1fr;
    }
    padding-right:40px;
    @include for-size(tablet-up){
      padding:0px 40px;
    }

    .about__list__item__image{
      -ms-grid-row-span: 2;
      grid-row: 1 / span 2;
      img{
        width: 120%;
        position: relative;
        left:-25px;
        @include for-size(tablet-up){
          width: 100%;
          left:0;
        }
      }
    }

    .about__list__item__text{
      -ms-grid-row:2;
      grid-row:2;
      -ms-grid-column:2;
      grid-column:2;
    }

  }

  // Mobile - img rechts, text+title links
  &:nth-child(even) {
    -ms-grid-columns: 1fr 90px;
    grid-template-columns: 1fr 90px;
    @include for-size(tablet-up){
      -ms-grid-columns: 1fr 150px;
      grid-template-columns: 1fr 150px;
    }
    padding-left:40px;
    @include for-size(tablet-up){
      padding:0px 40px;
    }

    .about__list__item__image{
      -ms-grid-column:2;
      grid-column:2;
      -ms-grid-row: 1;
      -ms-grid-row-span: 2;
      grid-row: 1 / span 2;
      img{
        width: 120%;
        position: relative;
        @include for-size(tablet-up){
          width: 100%;
        }
      }
    }


    .about__list__item__title{
      -ms-grid-column:1;
      grid-column:1;
      -ms-grid-row: 1;
      grid-row: 1;
    }

    .about__list__item__text{
      -ms-grid-row:2;
      grid-row:2;
      -ms-grid-column:1;
      grid-column:1;
    }

  }
}

// 3 columns from tablet-landscape and up
@include for-size(tablet-landscape-up){

  .about__list .about__list__item{
    padding:0;
    text-align: center;
  }

  .about__list__item .about__list__item__image{
    margin-bottom: 40px;
  }

  .about__list__item:nth-child(odd) .about__list__item__image img,
  .about__list__item:nth-child(even) .about__list__item__image img{
    width: 60%;
  }
}



.about__list__item__title{
  margin: 0;
  font-size:24px;
  font-weight: 500;
  position: relative;
  padding-bottom: 15px;
  margin-bottom:15px;

  @include for-size(tablet-landscape-up){
    padding-bottom: 40px;
    margin-bottom:40px;
  }

  &:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 30px;
    bottom: 0px;
    left:0;
    background-color: $color-brand;

    @include for-size(tablet-landscape-up){
      left: calc(50% - 15px);
    }

  }

}

.about__list__item__image{
  overflow: hidden;
}

.about__list__item__text{
  margin:0;
  font-size:15px;
  color: $color-text2;
  line-height:22px;
}

.about__button{
  text-align: center;
  margin-top:40px;

  @include for-size(tablet-landscape-up){
    margin-top:60px;
  }

}