/* TYPOGRAPHY & STYLING */
.blog-teaser__title{
  font-size:15px;
  font-weight: 600;
  color:$color-text1;
  margin: 0;

  @include for-size(tablet-landscape-up){
    font-size:19px;
  }
}

.blog-teaser__meta{
  font-size:13px;
  font-weight: 400;
  color:$color-text3;
  margin: 5px 0px 0px 0px;
  @include for-size(tablet-landscape-up){
    font-size:15px;
  }
}

.blog-teaser__body{
  font-size:15px;
  font-weight: 400;
  color:$color-text2;
  line-height: 22px;
  margin: 0;
}


/* STRUCTURE */
.blog-teaser{
  border-top:1px solid $color-border;
  padding: 0px 40px 40px 40px;
  @include for-size(desktop-up){
      padding: 0;
  }

  margin-top:40px;
  @include for-size(tablet-landscape-up){
     margin-top: 80px;
   }

  @include for-size(tablet-up) {
    display: -ms-grid;;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

}

.blog-teaser__article{
  max-width: 500px;
  padding: 40px 0px 0px 0px;

  @include for-size(tablet-up) {

    &:nth-child(odd){
      -ms-grid-column-align:end;
      justify-self:end;
      padding: 50px 50px 0 0;
      border-right: 1px solid $color-border;
    }
    &:nth-child(even){
      -ms-grid-column-align:start;
      justify-self:start;
      padding: 50px 0 0px 50px;
    }
  }
}

.blog-teaser_button{
  text-align: center;
  margin-top:30px;
  @include for-size(tablet-up) {
    -ms-grid-row:2;
    grid-row:2;
    grid-column: span 2;
  }
}


.blog-teaser__link{
  display: -ms-grid;
  display:grid;

  -ms-grid-columns: 1fr 60px;
  grid-template-columns: 1fr 60px;

  @include for-size(tablet-landscape-up){
    -ms-grid-columns: 80px 1fr;
    grid-template-columns: 80px 1fr;
    grid-row-gap: 0px;
    grid-column-gap: 20px;
  }


}

.blog-teaser__image{
  -ms-grid-row-align: start;
  align-self: start;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 2;
  grid-column: 2;
  @include for-size(tablet-landscape-up){
    -ms-grid-column: 1;
    grid-column: 1;
  }

  overflow:hidden;
  border-radius:100px;

  img{
    width: 60px;
    @include for-size(tablet-landscape-up){
      width: 80px;
    }

  }

}

.blog-teaser__body{
  margin-top: 20px;

  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

