.contactinfo{
  display: -ms-grid;
  display: grid;

  margin-top:40px;

  font-size:16px;
  font-weight: 500;
  color:$color-text2;
  line-height:150%;
  @include for-size(tablet-up){
    font-size: 18px;
  }



  @include for-size(tablet-up){
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;

  }
}

.contactinfo_right img{
  width: 180px;
  @include for-size(phone-only){
      display: none;
  }
}

.contactinfo_right{
  text-align: center;
}

.contactinfo__name{
  font-weight:600;
  //color: $color-text1;
  color:red;
}
