.floaters{
  @extend .l-wrapper;
  display: -ms-grid;
  display: grid;
  position: relative;
  z-index:30;

  margin-top: -150px;
  @include for-size(desktop-up){
    margin-top: -300px;
  };

}

.floaters2{
  @include for-size(tablet-portrait-up){
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  };
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  @include for-size(desktop-up){
    grid-column-gap: 80px;
  };
}

.floaters__item{
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.13);
  padding: 40px;
  text-align: center;
  display: -ms-grid;
  display: grid;
  @include for-size(tablet-portrait-up){
    padding: 50px;
  };
}

/* IE 11 Fixes */
.floaters__item:nth-child(1){  -ms-grid-column: 1;  }
.floaters__item:nth-child(2){  -ms-grid-column: 2;  }

.floaters__item__title{
  font-weight: 600;
  font-size: 20px;
  position: relative;
  margin:0 0 10px 0;
  padding-bottom:10px;
  -ms-grid-row-align: start;
  align-self: start;

  @include for-size(tablet-portrait-up){
    margin:0 0 15px 0;
    padding-bottom:15px;
  };



  &:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 30px;
    bottom: 0px;
    left:calc(50% - 15px);
    background-color: $color-brand;
  }
}

.floaters__item__text{
  font-weight:300;
  font-size: 22px;
  @include for-size(desktop-up){
    font-size: 26px;
  };
  margin:0 0 30px 0;
}

.floaters__item__button{
  -ms-grid-row-align: end;
  align-self: end;
  text-align: center;
  width: 100%;
}
