@font-face {
  font-family: 'Enzo';
  src: url('../assets/fonts/EnzoOT-Medi.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Enzo';
  src: url('../assets/fonts/EnzoOT-MediIta.woff');
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: 'Enzo';
  src: url('../assets/fonts/EnzoOT-Light.woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Enzo';
  src: url('../assets/fonts/EnzoOT-LightIta.woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Enzo';
  src: url('../assets/fonts/EnzoOT-Bold.woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Enzo';
  src: url('../assets/fonts/EnzoOT-BoldIta.woff');
  font-weight: 600;
  font-style: italic;
}
