html, body {
  width: 100%;
  height: 100%;
}

body{
  font-family: "Enzo";
  color:$color-text1;
  font-size:15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("../assets/img/bg-line-pattern.svg");
  background-size: 300px 300px;
}


h1,h2,h3,h4,h5,h6{
  color: $color-text1;
  font-weight:600;
}

*{
  box-sizing: border-box;
}


a{
  color:$color-cta;
  text-decoration: none;
  transition: all 0.2s ease;
}


.page a{
  border-bottom: 2px solid rgba($color-cta,0.7);

  &:hover{
    border-bottom: 3px solid rgba($color-cta,1);
  }

}

.button{
  background-color: $color-cta;
  color:#fff;
  font-weight:600;
  font-size: 14px;
  text-decoration: none;
  border-radius:5px;
  text-align: center;
  display: inline-block;
  min-width:150px;
  line-height:42px;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.15);
  transition: all 0.1s ease-out;
  position: relative;

  &:hover{
    box-shadow: 0px 0px 30px rgba(255,0,65,0.34);
    transform: scale(1.02);
    color:#fff;
  }
}

.textbutton{
  color:$color-brand;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
  &:hover{
    color: $color-brand-light;
    transition: all 0.2s;
  }
}


.callout{
  margin-top:60px;
  text-align: center;
  .callout__title{
    font-size:30px;
  }
  @include for-size(tablet-landscape-up){
    margin-top:100px;
  }
}

.pagegrid{
  display: grid;
  min-height: 100%;

  grid-template-rows: auto 1fr auto;

  .footer{
    align-self: end;
  }
}


.hide-tablet-landscape-up{
    display: inline-block;
    @include for-size(tablet-landscape-up){
        display: none;
    }
}

.show-tablet-landscape-up{
    display: none;
    @include for-size(tablet-landscape-up){
        display: inline-block;
    }
}