body{
  font-family: "Enzo";
  color:$color-text1;
  font-size:15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("../assets/img/bg-line-pattern.svg");
  background-size: 300px 300px;

}


h1,h2,h3,h4,h5,h6{
  color: $color-text1;
  font-weight:600;
}

*{
  box-sizing: border-box;
}


.button{
  background-color: $color-cta;
  color:#fff;
  font-weight:600;
  font-size: 14px;
  text-decoration: none;
  border-radius:5px;
  text-align: center;
  display: inline-block;
  min-width:150px;
  line-height:42px;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.15);
  transition: all 0.1s ease-out;
  position: relative;

  &:hover{
    box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
    background-color: $color-cta-alt;
  }
}

.textbutton{
  color:$color-brand;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
  &:hover{
    color: $color-brand-light;
    transition: all 0.2s;
  }
}