.colorband{
  position: relative;
  padding: 20px 0px 150px 0px;
  padding-top: 16px;
  @include for-size(desktop-up){
    padding: 20px 0px 200px 0px;
  }

  &:after{
    position: absolute;
    content:"";
    width: 100%;
    height: 100%;
    top:0px;
    overflow: hidden;
    transform: skewY(-3deg);
    transform-origin: 0;
    background: url("/assets/img/teal-logo-shape.svg"), linear-gradient(-200deg,$color-brand-dark 0%,$color-brand-light 100%);
    background-position: center center;
    z-index: -1;
  }

  &.colorband--large{
    padding-bottom:100px;
    @include for-size(desktop-up){padding-bottom:150px};

    &:after{
      top:-50px;
      transform: skewY(-5deg);
    }
  }
}


.l-header{
  position: relative;
  display: -ms-grid;
  display:grid;
  z-index: 1;

}

.l-header__logo{
  -ms-grid-column: 1;
}

.l-header__nav{
  -ms-grid-column: 2;
}


.logo{
  align-self: center;
  justify-self:start;
  -ms-grid-column-align:start;

  a{
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    width: 150px;
    height:52px;
    background: url(/assets/img/tealpartners-logo.svg) no-repeat center center;
    background-size: 150px 52px;

    @include for-size(tablet-landscape-up){
      width: 200px;
      height:69px;
      background-size: 200px 69px;
    }
  }
}

.top-navigation{
  display: -ms-grid;
  display: inline-grid;
  justify-content: end;
  grid-gap: 24px;
  align-items: start;
  align-content: center;

  @include for-size(tablet-landscape-up){
    grid-gap: 48px;
  }
}

.top-navigation__item{

  text-align: center;
  align-self: center;
  display: none;

  @include for-size(tablet-up){
    display: block;
    transform: translateY(0px);
    text-align: center;
    -ms-grid-row:1;
    grid-row:1;

    &.active{
      box-shadow: inset 0px -2px 0px rgba(255,255,255,1);
    }

  }

  @include for-size(desktop-up){
    display: block;
    transform: translateY(0px);
    text-align: center;
    -ms-grid-row:1;
    grid-row:1;
  }
}

.top-navigation.fullscreen .top-navigation__item{
  display: block;
  animation: flyin 0.5s ease-out;

  &.active a{
    color:$color-cta;
  }

}

@keyframes flyin{
  from{
    opacity: 0;
    transform: translateY(-10px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}

.top-navigation__item a{
  color:#FFF;
  text-decoration: none;
  line-height: 64px;
  font-size:24px;
  font-weight:500;
  color: #fff;


  @include for-size(tablet-portrait-up){
    line-height: 32px;
    font-size: 16px;
  };

  @include for-size(desktop-up){
    font-size:18px;
  };
}

.top-navigation.fullscreen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 200;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #F4FAF9;
  color: $color-cta;
  a{
    color: $color-text1;
  }

}


.top-navigation.fullscreen svg.hamburger{display: none;}
.top-navigation:not(.fullscreen) svg.close{display:none;}

.top-navigation>div:nth-child(1){-ms-grid-row: 1;  -ms-grid-column: 1;}
.top-navigation>div:nth-child(2){-ms-grid-row: 1;  -ms-grid-column: 2;}
.top-navigation>div:nth-child(3){-ms-grid-row: 1;  -ms-grid-column: 3;}
.top-navigation>div:nth-child(4){-ms-grid-row: 1;  -ms-grid-column: 4;}
.top-navigation>div:nth-child(5){-ms-grid-row: 1;  -ms-grid-column: 5;}
.top-navigation>div:nth-child(6){-ms-grid-row: 1;  -ms-grid-column: 6;}

.top-navigation__toggle{
  position: absolute;
  z-index: 250;
  top: 5px;
  right: 0px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;


  svg.hamburger{
    fill: #fff;
  }

  svg.close{
    fill: #000;
  }

  @include for-size(tablet-up){
    display: none;
  }
}

.fullscreen .top-navigation__toggle{
  top: 24px;
  right: 16px;
}


