.colorband{
  position: relative;
  padding: 20px 0px 150px 0px;
  @include for-size(desktop-up){
    padding: 20px 0px 200px 0px;
  }

  &:after{
    position: absolute;
    content:"";
    width: 100%;
    height: 100%;
    top:0px;
    overflow: hidden;
    transform: skewY(-4deg);
    transform-origin: 0;
    background: url("../assets/img/teal-logo-shape.svg"), linear-gradient(-200deg,$color-brand-dark 0%,$color-brand-light 100%);
    background-position: center center;
    z-index: -1;
  }

  &.colorband--large{
    padding-bottom:150px;
    @include for-size(desktop-up){padding-bottom:300px};

    &:after{
      top:-50px;
      transform: skewY(-10deg);
    }
  }
}


.l-header{
  position: relative;
  display: -ms-grid;
  display:grid;
  z-index: 1;

}

.l-header__logo{
  -ms-grid-column: 1;
}

.l-header__nav{
  -ms-grid-column: 2;
}


.logo{

  justify-self:center;
  -ms-grid-column-align:center;

  @include for-size(desktop-up){
    justify-self:start;
    -ms-grid-column-align:start;
  }


  a{
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    width: 150px;
    height:52px;
    background: url(../assets/img/tealpartners-logo.svg) no-repeat center center;
    background-size: 150px 52px;

    @include for-size(tablet-landscape-up){
      width: 200px;
      height:69px;
      background-size: 200px 69px;
    }
  }
}

.top-navigation{
  display: -ms-grid;
  display: grid;
  justify-items: stretch;
  -ms-grid-columns: 25% 25% 25% 25%;
}

.top-navigation__item{
  text-align: center;
  align-self: center;
  line-height: 60px;
  -ms-grid-row:1;
  grid-row:1;
  @include for-size(desktop-up){
    text-align: right;
  }
}

.top-navigation__item a{
  color:#FFF;
  text-decoration: none;
  font-weight: 400;
  font-size:14px;

  @include for-size(tablet-portrait-up){
    font-size:16px;
    font-weight:500;
  };

  @include for-size(desktop-up){
    font-size:18px;
  };
}

.top-navigation>div:nth-child(1){-ms-grid-row: 1;  -ms-grid-column: 1;}
.top-navigation>div:nth-child(2){-ms-grid-row: 1;  -ms-grid-column: 2;}
.top-navigation>div:nth-child(3){-ms-grid-row: 1;  -ms-grid-column: 3;}
.top-navigation>div:nth-child(4){-ms-grid-row: 1;  -ms-grid-column: 4;}
.top-navigation>div:nth-child(5){-ms-grid-row: 1;  -ms-grid-column: 5;}
.top-navigation>div:nth-child(6){-ms-grid-row: 1;  -ms-grid-column: 6;}