.l-wrapper{
  max-width: $maxwidth;
  margin: 0 auto;
  padding: 0px 20px;
  @include for-size(tablet-portrait-up){
    padding: 0px 40px;
  };
}


.l-header{
  display: -ms-grid;
  display: grid;
  z-index: 10;

  -ms-grid-columns: 200px 1fr;
  grid-template-columns: 200px 1fr;

}


.l-contentcontainer{

  --blogpadding:32px;

  @include for-size(tablet-up){ --blogpadding: 90px
  }

  margin: 0 auto;
  width: calc(100% - 2 * var(--blogpadding));
  max-width: 880px;
  padding-top: 24px;

  @include for-size(tablet-up){
    width: calc(100% - 180px);
    padding-top: 32px;
  }

  @include for-size(tablet-up){
    width: calc(100% - 180px);
  }
}


