.l-wrapper{
  max-width: $maxwidth;
  margin: 0 auto;
  padding: 0px 20px;
  @include for-size(tablet-portrait-up){
    padding: 0px 40px;
  };
  @include for-size(desktop-up){
    padding: 0px;
  };
}


.l-header{
  display: -ms-grid;;
  display: grid;

  @include for-size(desktop-up){
    grid-template-columns: 300px 1fr;
  }
}
