.refs{
  @extend .l-wrapper;

  margin-top:60px;
  margin-bottom:20px;


  @include for-size(tablet-landscape-up){
    margin-top:70px;
    background-color: transparent;
  }

  &:hover{
    .refs__strip{
      opacity: 1;
      filter:grayscale(0%);
    }
  }

}

.refs__title{
  font-size:20px;
  color: $color-brand-dark;
  opacity: 0.4;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  margin: 0px 0px 40px 0px;
}

.refs__strip{
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  opacity: 0.5;
  filter:grayscale(100%);
  opacity: 0.4;
  transition: all 0.4s ease;

  &:hover{
    .refs__strip{
      opacity: 1;
      filter:grayscale(0%);
    }
  }
}

.refs__logo{
  text-align: center;
  width: 50%;
  background-position: center center;
  @include for-size(tablet-landscape-up){
    width: auto;
  }

  &.logo__wolters img{width: 115px; }
  &.logo__sd img{width: 70px;}
  &.logo__q8 img{width: 36px; }
  &.logo__unbox img{width: 78px;}
  &.logo__xerius img{width: 78px;}


  @include for-size(tablet-up){
    &.logo__wolters img{width: 162px;}
    &.logo__sd img{width: 98px; height: 35px}
    &.logo__q8 img{width: 50px; height: 38px;  }
    &.logo__unbox img{width: 110px; height: 29px;}
    &.logo__xerius img{width: 110px;}
  }

}

.refs-bar__logo:nth-child(1), .refs__logo:nth-child(2){
  margin-bottom:20px;
  @include for-size(tablet-landscape-up){
    margin-bottom:0px;
  }
}

