.mainquote{
  -ms-display: grid;
  display: grid;
  margin: 30px 30px 50px 30px;

  @include for-size(tablet-portrait-up){
    margin:50px 50px 70px 50px;
  };
  @include for-size(desktop-up){
    margin:100px 100px 120px 100px;
  };
}

.mainquote__text{
  font-weight:500;
  font-size:22px;
  font-style: italic;
  color:#FFF;
  align-self: center;
  justify-self: center;
  text-align: center;

  @include for-size(tablet-portrait-up){
    font-size:28px;
  };

  @include for-size(desktop-up){
    font-size:35px;
  };
}