.page__title{
  color:$color-text1;
}

.page__header{
  background: linear-gradient(to bottom, rgba(255,255,255,1) 65%,rgba(255,255,255,0) 100%);
  box-shadow: 0px -5px 8px rgba(0,0,0,0.10);
  border-radius:3px;
  margin: -150px auto 0 auto;
  width: calc(100% - 40px);
  max-width: calc(1100px - 80px);

  @include for-size(tablet-up){
      width: calc(100% - 80px);
  }

  padding: 40px 30px 10px 30px;
  @include for-size(tablet-up){
      padding: 50px 50px 20px 50px;
  }
  @include for-size(desktop-up){
      padding: 70px 70px 30px 70px;
  }

}

.page__title{
  margin: 0;

  font-size:21px;
  @include for-size(tablet-up){
    font-size:24px;
  }
  @include for-size(desktop-up){
    font-size:30px;
  }
}

.page__intro{
  font-size:18px;
  font-weight: 300;
  line-height:130%;
  color: $color-text2;

  @include for-size(tablet-up){
    font-size:20px;
  }

  @include for-size(desktop-up){
    font-size:22px;
  }

}

.page__content{
  margin: 0 auto;
  width: calc(100% - 100px);
  max-width: 880px;

  @include for-size(tablet-up){
    width: calc(100% - 180px);
  }

  @include for-size(tablet-up){
    width: calc(100% - 180px);
  }

  h2{
    font-size: 18px;
    font-weight: 600;
    margin: 30px 0px 20px 0px;
  }

  p{
    font-size:16px;
    font-weight: 500;
    color:$color-text2;
    line-height:140%;
    @include for-size(tablet-up){
      font-size: 18px;
    }
  }

}
