.page__title{
  color:$color-text1;
}

.page__header{
    position: relative;
    z-index: 50;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 65%,rgba(255,255,255,0) 100%);
  box-shadow: $shadow-over-header;
  border-radius:3px;
  margin: -150px auto 0 auto;
  width: calc(100% - 40px);
  max-width: calc(1100px - 80px);

  @include for-size(tablet-up){
      width: calc(100% - 80px);
  }

  padding: 40px 30px 10px 30px;
  @include for-size(tablet-up){
      padding: 50px 50px 20px 50px;
  }
  @include for-size(desktop-up){
      padding: 70px 70px 30px 70px;
  }

}

.page__title{
  margin: 0;

  font-size:21px;
  @include for-size(tablet-up){
    font-size:24px;
  }
  @include for-size(desktop-up){
    font-size:30px;
  }
}

a.page__backlink{
    margin-bottom: 20px;
    font-size: 15px;
    text-decoration: none;
    border:none;
    display: inline-block;
    &:hover{
        color:black;
        border:none;
    }
}

.page__meta{
    margin: 5px 0 0px 0px;
    font-size: 15px;
    color: $color-text3;
}


.page__intro{
  margin: 30px 0 0 0;
  font-size:18px;
  line-height:130%;
  color: $color-text1;
  font-weight: 500;

  @include for-size(tablet-up){
    font-size:20px;
  }

  @include for-size(desktop-up){
    font-size:22px;
  }

  &.withauthor{
    margin-top: 30px;
    margin-bottom: 30px;

    @include for-size(tablet-up){
      display: grid;
      grid-template-columns: auto 100px;
      grid-gap: 48px;

      .page__author{grid-column: 2;}
      .page__intro__p{grid-column: 1;}
      .page__author, .page__intro__p{grid-row: 1;}
    }

    @include for-size(desktop-up){
      grid-template-columns: auto 150px;
    }
  }


  .page__author{
    display: grid;
    grid-template-columns: 60px auto;
    grid-gap: 24px;
    align-items: start;
    margin-bottom: 24px;
    @include for-size(tablet-up){
      text-align: center;
      display: block;
      margin-bottom: 0;
    }
  }

  .page__author__pic {
    display: grid;
    align-content: end;
    border: 2px solid $color-brand;
    border-radius:200px;
    overflow: hidden;
    position: relative;

    img{
      width: 60px;
      @include for-size(tablet-up){width: 100px}
      @include for-size(desktop-up){width: 150px}
    }
  }

  .page__author__description{
    margin-top: 16px;
    line-height: 18px;
    font-size: 16px;
    color:$color-text1;
    text-align:left;
    @include for-size(tablet-up){text-align: center;}
  }

  .page__author__title{
    font-weight: 700;
  }


  .page__intro__p{
    margin: 0;
  }

}



.page__image{
    text-align: center;
    img{
        width: 100%;
    }
}


.page__content{
  @extend .l-contentcontainer;

  h2{
    font-size: 18px;
    line-height:30px;
    font-weight: 600;
    margin: 30px 0px 20px 0px;
    &:first-child{
      margin-top: 0;
    }
  }


  p, li{
    font-size:16px;
    font-weight: 500;
    color:$color-text2;
    line-height:150%;
    @include for-size(tablet-up){
      font-size: 18px;
    }
  }

  ul{
    list-style-type: none;
    padding: 0px 0px 0px 20px;
    margin: 0;
  }

  li{
    position: relative;
    padding-left: 20px;
    list-style: none;
    &:before{
      position: absolute;
      content:"";
      height: 5px;
      width: 5px;
      top: 11px;
      left:0px;
      transform: skewX(-20deg);
      background-color: $color-brand;
    }
  }


}


.l-page-bloglist-withmenu{
  @extend .l-wrapper;
  transform: translateY(-140px);

  display: grid;
  @include for-size(tablet-up){
    grid-template-columns: 250px 1fr;
    grid-gap: 32px;
    transform: translateY(-140px);
    align-items: start;
  }
}

.l-page-bloglist{
  @extend .l-wrapper;
  transform: translateY(-140px);
  display: grid;
  justify-content: center;

}
