.team{
  margin-top:40px;
  margin-left:-30px;
  margin-right:-30px;

  @include for-size(tablet-landscape-up) {
    margin: 50px 0px 0px 0px;
  }

  .team__title{
    font-size:24px;
    text-align: center;
    margin-bottom:30px;
  }

}

.team__grid{
  transform: skewY(-3deg);
  display: grid;
  display: -ms-grid;
  grid-column-gap:15px;
  grid-row-gap: 15px;

  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;

  @include for-size(tablet-up){
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include for-size(tablet-landscape-up){
    margin: 50px 0px 0px 0px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


.team__member{
  height:200px;
  background: #C3CDCD;
  background: -webkit-radial-gradient(ellipse at center, rgba(213,213,213,1) 24%,rgba(158,176,176,1) 100%);
  background: radial-gradient(ellipse at center, rgba(213,213,213,1) 24%,rgba(158,176,176,1) 100%);
  color:#FFF;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
  @include for-size(tablet-up){
      height: 240px;
  }
}

.team__picture{
  position: absolute;
  width: 100%;
  height: 100%;
  transform: skewY(3deg);
  bottom: -10px;
  background-size: cover;
}

.team__description{
  position: absolute;
  color:#FFF;
  top: 0px;
  padding: 20px;
  opacity: 0;
  transition: all 0.2s ease ;
}

.team__member:hover{
  background: -webkit-radial-gradient(center, ellipse cover, rgba(213,213,213,1) 1%,rgba(134,151,151,1) 100%);
  background: radial-gradient(ellipse at center, rgba(213,213,213,1) 1%,rgba(134,151,151,1) 100%);
  .team__description{
    opacity: 1;
  }
}


.team__name, .team__job{
  display: block;
}

.team__name{
  font-size:15px;
  font-weight: 600;
  @include for-size(tablet-up){
    font-size:17px;
  }
}

.team__job{
  font-size:13px;
  font-weight: 400;
  @include for-size(tablet-up){
    font-size:15px;
  }
}

.team__member:nth-child(1){-ms-grid-column: 1; -ms-grid-row: 1;}
.team__member:nth-child(2){-ms-grid-column: 2; -ms-grid-row: 1;}
.team__member:nth-child(3){-ms-grid-column: 3; -ms-grid-row: 1;}
.team__member:nth-child(4){-ms-grid-column: 4; -ms-grid-row: 1;}

.team__member:nth-child(5){-ms-grid-column: 1; -ms-grid-row: 2;}
.team__member:nth-child(6){-ms-grid-column: 2; -ms-grid-row: 2;}
.team__member:nth-child(7){-ms-grid-column: 3; -ms-grid-row: 2;}
.team__member:nth-child(8){-ms-grid-column: 4; -ms-grid-row: 2;}

.team__member:nth-child(9){-ms-grid-column: 1; -ms-grid-row: 3;}
.team__member:nth-child(10){-ms-grid-column: 2; -ms-grid-row: 3;}
.team__member:nth-child(11){-ms-grid-column: 3; -ms-grid-row: 3;}
.team__member:nth-child(12){-ms-grid-column: 4; -ms-grid-row: 3;}

.team__member:nth-child(13){-ms-grid-column: 1; -ms-grid-row: 4;}
.team__member:nth-child(14){-ms-grid-column: 2; -ms-grid-row: 4;}
.team__member:nth-child(15){-ms-grid-column: 3; -ms-grid-row: 4;}
.team__member:nth-child(16){-ms-grid-column: 4; -ms-grid-row: 4;}

.team__member:nth-child(17){-ms-grid-column: 1; -ms-grid-row: 5;}
.team__member:nth-child(18){-ms-grid-column: 2; -ms-grid-row: 5;}
.team__member:nth-child(19){-ms-grid-column: 3; -ms-grid-row: 5;}
.team__member:nth-child(20){-ms-grid-column: 4; -ms-grid-row: 5;}


/* IE execptions */
@media all and (-ms-high-contrast:none)
{
  .team__member{ margin:5px; } /* IE10 */
  *::-ms-backdrop, .team__member{ margin:5px; } /* IE11 */
}

