.testimonials{
  @extend .l-wrapper;
}

.testimonials__grid{
  display: -ms-grid;
  display: grid;
  grid-column-gap:40px;
  grid-row-gap:20px;

  @include for-size(tablet-up){
    -ms-grid-template-columns: 33% 33% 33%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap:20px;
  }

  @include for-size(tablet-landscape-up){
    grid-column-gap:40px;
  }
}


.testimonials__title{
  @extend .about__title;

  margin-top: 50px;
  margin-bottom:40px;
  @include for-size(tablet-up){
    margin-top:80px;
  }
}


.testimonials__box{
  display: -ms-grid;
  display: grid;
  justify-items: center;

  background: linear-gradient(-200deg,$color-brand-dark 0%,$color-brand-light 100%);
  box-shadow: 0px 5px 10px rgba(0,0,0,0.12);
  color:#fff;
  text-align: center;
  border-radius:5px;
  padding: 30px;
  
  @include for-size(tablet-landscape-up){
      padding: 40px;
  }
}

.testimonials__box:nth-child(1){-ms-grid-column: 1;}
.testimonials__box:nth-child(2){-ms-grid-column: 2;}
.testimonials__box:nth-child(3){-ms-grid-column: 3;}


.testimonials__headline{
  -ms-grid-row: 2;
  color:#fff;
  font-weight:500;
  font-style: italic;
  line-height:26px;
  font-size: 20px;
  align-self: center;

  @include for-size(tablet-landscape-up){
    font-size:22px;
    line-height:30px;
  }

}

.testimonials__source{
  align-self: end;
  -ms-grid-row: 3;
}

.testimonials__name{
  font-weight:600;
  display: block;
  font-size:16px;
  line-height:26px;
  @include for-size(tablet-landcape-up){
    font-size:18px;
  }
}

.testimonials__function{
  -ms-grid-row: 1;
  font-weight:400;
  display: block;
  font-size:13px;
  @include for-size(tablet-landcape-up){
    font-size:15px;
  }
}

.testimonials__logo{
  height:32px;
  -ms-grid-row: 1;

  @include for-size(tablet-landcape-up){
    height: 38px;
  }
}

/* IE execptions */
@media all and (-ms-high-contrast:none)
{
  .projects__case:nth-child(odd){
    .testimonials__box{ margin: 0px 20px; } /* IE10 */
    *::-ms-backdrop, .testimonials__box{ margin: 0px 20px; } /* IE11 */
  }


}