$maxwidth:1100px;

$color-brand-light: #57C8B9;
$color-brand: #18A7B5;
$color-brand-dark: #006580;

$color-cta: #D95068;
$color-cta-alt: #B2475A;

$color-text1: #202E30; //Dark - Titles, heavy contrast
$color-text2: #46686C; // Slightly lighter, body text
$color-text3: #202E30; // Lighter, meta info

$color-border: #D9D9D9;

$font1:"Enzo",'Roboto',Arial, Sans Serif;
